#header_label{
    -fx-font-family:Tahoma;
    -fx-font-size: 40px;
    -fx-font-weight: 700;
}

.load_btn{
    -fx-font-family:Tahoma;
    -fx-font-size: 14px;
    -fx-padding: 10 5 10 5;
}

.load_error_label{
    -fx-font-family:Tahoma;
    -fx-font-size: 14px;
}

#switch_btn{
    -fx-background-color: transparent;
    -fx-cursor:hand ;
}

.grid_ares{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.label{
    -fx-font-family:Tahoma;
    -fx-font-size: 14px;
}

.target_label{
    -fx-padding: 5 10 5 10;
    -fx-border-color: black ;
    -fx-border-width: 2 ;
    -fx-background-color: white;
}