#switch_btn{
    -fx-background-color: transparent;
}

#find_btn{
    -fx-font-size: 16px;
}

#explanation_label{
    -fx-text-fill: red;
}

.grid_ares{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.label{
    -fx-font-size: 16px;
}

.target_label{
    -fx-padding: 5 10 5 10;
    -fx-border-color: black ;
    -fx-border-width: 2 ;
    -fx-background-color: white;
}

.from_to_label{
    -fx-font-size: 12px;
}