#table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-font-family: Tahoma;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-cell-size: 50px;
}

.table-row-cell:odd{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar{
    -fx-background-color: #FFFFFF;
}

.table-row-cell {
    -fx-cell-size: 50px;
}

.table-column {
    -fx-alignment: CENTER;
}

.label{
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.table-row-cell:selected {
    -fx-background-color: #008AFF;
    -fx-text-fill: #FFFFFF;
}

.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:vertical .track{
    -fx-background-color : #e2e3e5;
    -fx-border-color : #e2e3e5;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.table-view .virtual-flow .scroll-bar:horizontal .increment-button ,
.table-view .virtual-flow .scroll-bar:horizontal .decrement-button {
    -fx-background-color : #e2e3e5;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.table-view .virtual-flow .scroll-bar:vertical .increment-button ,
.table-view .virtual-flow .scroll-bar:vertical .decrement-button {
    -fx-background-color : #e2e3e5;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.table-view .virtual-flow .scroll-bar .increment-arrow,
.table-view .virtual-flow .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.table-view .virtual-flow .scroll-bar:vertical .increment-arrow,
.table-view .virtual-flow .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb,
.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color :derive(white,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb:hover,
.table-view .virtual-flow .scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(white,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}