#what_next_label {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}

.successes_message{
    -fx-text-fill: green;
}

.failed_message{
    -fx-text-fill: red;
}

#file_path_label{
    -fx-background-color: #DCDCDC;
    -fx-padding: 2 10 2 10;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #EE82EE;
    -fx-text-fill: black;
}

.what_next_main_buttons{
    -fx-font-size: 18px;
    -fx-background-color: #EE82EE;
    -fx-text-fill: black;
}

.what_next_buttons{
    -fx-background-color: #ea6cea;
    -fx-text-fill: black;
}

.what_next_buttons:hover{
    -fx-background-color: #EE82EE;
}

.load_file_btn{
    -fx-background-color: #EE82EE;
    -fx-text-fill: black;
}

.load_file_btn:hover{
    -fx-background-color: #ea6cea;
}

.load_btn{
    -fx-padding: 10 5 10 5;
}
