.explanation_label{
    -fx-text-fill: red;
}

.list-view{
    -fx-background-color: #F5FAFF;
}

.sub_header_label{
    -fx-font-size: 16px;
    -fx-text-fill: #008AFF;
}

.summery_label{
    -fx-font-weight: 700;
    -fx-font-size: 30;
}

#error_label{
    -fx-font-size: 18;
}

.file_path_label{
    -fx-background-color: white;
    -fx-padding: 2 10 2 10;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #008AFF;
}

#select_folder_btn{
    -fx-background-color: #008AFF;
    -fx-text-fill: #FFFFFF;
}

#export_btn{
    -fx-background-color: #008AFF;
    -fx-text-fill: #FFFFFF;
}

.target_name{
    -fx-text-fill: #008AFF;
}