.explanation_label{
    -fx-text-fill: red;
}

.list-view{
    -fx-background-color: #4F545C !important;
}

.sub_header_label{
    -fx-font-size: 16px;
}

.summery_label{
    -fx-font-weight: 700;
    -fx-font-size: 30;
    -fx-text-fill: #7086DD;
}

#error_label{
    -fx-font-size: 18;
}

.file_path_label{
    -fx-background-color: transparent;
    -fx-padding: 2 10 2 10;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #7086DD;
}

#select_folder_btn{
    -fx-background-color: #7086DD;
    -fx-text-fill: #FFFFFF;
}

#export_btn{
    -fx-background-color: #7086DD;
    -fx-text-fill: #FFFFFF;
}

.target_name{
    -fx-text-fill: #7086DD !important;
}

.scroll_border{

}